---
import ProjectCard from "../components/CardProject.astro";
import { wpquery } from "../graphql/wordPressQuery";
import NavBar from "../components/JSX/NavBar";
import Layout from "../Layout/Head.astro";
import "../index.css"; // Import your CSS here

// Requête GraphQL pour obtenir les vidéos

const data = await wpquery({
  query: `
  {
  videos {
    nodes {
    slug
      videos {
        description
        titre
        tags {
          nodes {
            id
            name
          }
        }
        miniature {
          node {
            altText
            sourceUrl
          }
        }
      }
      id
    }
 
  }
}
  `,
});
---

<html>
  <Layout title="PORTFOLIO" />
  <body>
    <header>
      <NavBar client:load />
    </header>

    <Layout title="PORTFOLIO" />
    <div class=" py-10 sm:px-8 sm:py-16 md:px-16 md:py-24 flex justify-center items-center flex-col gap-10 flex-wrap p-5">
      <h1 class="font-truculenta font-black text-black text-6xl">
        Mes videos
      </h1><div
        class="flex flex-row flex-wrap gap-10 w-full items-center justify-center"
      >
      {data.videos.nodes
          .filter(
              (videoNode) =>
                  videoNode.videos?.miniature?.node?.sourceUrl && videoNode.videos?.titre
          )
          .map((videoNode) => (
              <ProjectCard
                  key={videoNode.id}
                  href={`/videos/${videoNode.id}`}
                  image={videoNode.videos.miniature.node.sourceUrl}
                  alt={videoNode.videos.miniature.node.altText}
                  title={videoNode.videos.titre}
                  description={videoNode.videos.description}
                  tags={videoNode.videos.tags}
              />
          ))}
      </div>
    </div>
  </body>
</html>
