---
import { wpquery } from "../../graphql/wordPressQuery";
import Layout from "../../Layout/Head.astro";
import NavBar from "../../components/JSX/NavBar";
import CardProject from "../../components/CardProject.astro";
import {ViewTransitions} from "astro:transitions";

export async function getStaticPaths() {
  const data = await wpquery({
    query: `
      {
        projets {
          nodes {
            id
          }
        }
      }
    `,
  });

  const paths = data.projets.nodes.map((projet) => ({
    params: { id: projet.id.toString() },
  }));

  return paths;
}

const { id } = Astro.params;

const data = await wpquery({
  query: `
    {
      projet(id: "${id}") {
        id
        projets {
        description
        titre
        tags {
          nodes {
            id
            name
          }
        }
        miniature {
          node {
            altText
            sourceUrl
          }
        }
      }
      }
    }
  `,
});

const projet = data.projet;
---

<!doctype html>
<html>
<Layout title="PORTFOLIO" />
<body>
<ViewTransitions enter="transition-all duration-700 ease-in-out transform translate-x-full opacity-0" exit="transition-all duration-500 ease-in-out transform translate-x-0 opacity-100" />
<header>
  <NavBar client:load />
</header>


    <main>
      <div
        class=" py-10 sm:px-8 sm:py-16 md:px-16 md:py-24 flex justify-center items-center flex-col gap-10 flex-wrap p-5"
      >
        <h1 class="font-truculenta font-black text-black text-6xl">
          {projet.projets.titre}
        </h1>
        <div
          class="flex flex-row flex-wrap gap-10 w-full items-center justify-center"
        >
          <CardProject
            image={projet.projets.miniature.node.sourceUrl}
            alt={projet.projets.miniature.node.altText}
            title={projet.projets.titre}
            description={projet.projets.description}
            tags={projet.projets.tags}
          />
        </div>
      </div>
    </main>
  </body>
</html>
